.headerContainer {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding-right: 10px;
}

.logoContainer {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.logoImg {
  width: 100%;
}

.navContainer {
  display: flex;
}

.navContainer > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navContainer > ul > li {
  padding: 10px;
}

.resContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardContainer {
  background-color: #f0f0f0;
  width: 300px;
  padding: 5px;
  margin-bottom: 35px;
}
.cardContainer:hover {
  cursor: pointer;
  border: 1px solid black;
}
.resCardLogo {
  width: 290px;
  height: 250px;
  padding: 5px;
}

.loginBtn {
  min-width: 60px;
  padding: 0 2px;
  cursor: pointer;
}
.shimmerContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 70px;
}
.shimmerCardContainer {
  min-width: 300px;
  min-height: 400px;
  background-color: #f0f0f0f0;
  margin-bottom: 35px;
}

.searchContainer {
  display: flex;
  margin-left: 35px;
  min-height: 50px;
  align-items: center;
  gap: 20;
}
